
<p id="notice"><%= notice %></p>

<%= render partial: "shared/audio_player", locals: {document:@document} %>

<p><strong>Name</strong>: <%= @document.name %></p>


<p><strong>Content</strong>:</p>
<%= @document.content.html_safe %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
